{
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "~/components",
    "~/utils",
    "~/constants",
    "~/types",
    ".svg",
    "^../(.*)$",
    "^[./]",
    "(?=./styles.module.sss)"
  ],
  "importOrderSeparation": true
}
